<button (click)="openMenu()" id="app-nav-button">
  <ng-icon name="matMenuRound" size="1.5em"></ng-icon>
</button>
<nav id="app-nav">
  <div class="nav-wrapper">
    <ul>
      <li><a href="https://www.kai-wu.net">Kaiの部落</a></li>
      <li><a href="https://www.kai-wu.net/%e6%84%8f%e8%a6%8b%e5%9b%9e%e9%a5%8b/">意見回饋</a></li>
      <li><a href="https://github.com/kai-tw/HoyoCode">GitHub 原始碼</a></li>
    </ul>
    <button (click)="closeMenu()" class="close-button">
      <ng-icon name="matCloseRound" size="1.5em"></ng-icon>
    </button>
  </div>
</nav>
