.overflow-table
  position: relative
  display: block
  width: 100%
  overflow: auto
  box-sizing: border-box

  table
    min-width: 100%
    white-space: nowrap
    table-layout: fixed
    text-align: center

    thead, tr:nth-child(even)
      background: rgba(128, 128, 128, 0.1)

    td, th
      padding: 8px

    .code
      font-family: "Cutive Mono", monospace

      a:visited
        color: grey
